[Unit]
Description=ago control advanced graphing system based on rrdtool

[Service]
ExecStart=/opt/agocontrol/bin/agorrdtool.py
WorkingDirectory=/opt/agocontrol/bin
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=2
User=agocontrol

[Install]
WantedBy=multi-user.target
