<div>
	<div class="pretty medium success btn btn-full icon-left icon-heart">
		<_a data-translateable="true" href="?systemStatus">System Status</_a>
	</div>
	<hr />
	<div class="pretty medium primary btn btn-full icon-left icon-home">
		<_a data-translateable="true" href="?dashboard">Dashboard</_a>
	</div>
    <ko opts="if: (ko.isObservable(floorPlans) and floorPlans().length>0)">
    <ul><li class="btn-dropdown">
        <div class="pretty medium primary btn btn-full icon-left icon-list">
            <_a data-translateable="true" href="#">Floorplans</_a>
        </div>
        <ul data-bind="foreach: floorPlans">
            <li><a href="?floorPlan" data-bind="text: name, attr: {href: '?floorplan&amp;fp=' + uuid}, click: showFloorplan"/></li>
        </ul>
    </li></ul>
    </ko>
    <ko opts="if: (ko.isObservable(pluginNames) and pluginNames().length>0)">
    <ul><li class="btn-dropdown">
        <div class="pretty medium primary btn btn-full icon-left icon-list">
            <_a data-translateable="true" href="#">Plugins</_a>
        </div>
        <ul data-bind="foreach: pluginNames">
            <li><a href="?floorPlan" data-bind="text: name, attr: {href: '?pluginDashboard&amp;name=' + _name}"/></li>
        </ul>
    </li></ul>
    </ko>
	<hr />
	<div class="pretty medium default btn btn-full icon-left icon-tools">
		<_a href="?configuration" data-translateable="true">Configuration</_a>
	</div>
	<ko opts="if: hasNavigation">
	<div data-bind="template: {name: navigation}"></div>
	</ko>
</div>
