<div id="contentarea" class="container">
<_h3 data-translateable="true">Security Configuration</_h3>
<div class="row">
        <table style="width:100%; margin-top: 15px; margin-bottom: 5px;">
                <thead>
                	<tr>
                	<th style="font-weight: 700" />     
                    <ko opts="foreach: zones">
                        <th class="zoneKey" style="font-weight: 700" data-bind="text: name"></th>
                    </ko>     
                    </tr>
                </thead>
                <tbody data-bind="foreach: housemodes">
                	<tr>
                		<td data-bind="text: name" class="housemode" />
                		<ko opts="foreach: delays">
                			<td><select class="delay" data-bind="options: $root.possibleDelays, value: $data"></select></td>
                		</ko>
                	</tr>
                	
                </tbody>
        </table>
   </div>
<br/>
<div style="text-align: right">
<div class="medium primary btn" data-bind="visible: housemodes().length > 0"><_a href="#" data-translateable="true" data-bind="click: save ">Save</_a></div>
</div>
<br/>
<_h3 data-translateable="true">Add new zone</_h3>
<div class="row">
 <ul class="ten columns">
  <li class="append field">
   <_input type="text" id="zoneName" data-translateable="true" class="wide input" _placeholder="Input zone name"></_input>
   <div class="medium primary btn"><_a href="#" data-translateable="true" data-bind="click: addZone">Add zone</_a></div>
  </li>
 </ul>
</div>

<_h3 data-translateable="true">Add new housemode</_h3>
<div class="row">
 <ul class="ten columns">
  <li class="append field">
   <_input type="text" id="modeName" data-translateable="true" class="wide input" _placeholder="Input zone name"></_input>
   <div class="medium primary btn"><_a href="#" data-translateable="true" data-bind="click: addHouseMode">Add housemode</_a></div>
  </li>
 </ul>
</div>

<hr />

<_h3 data-translateable="true">Change housemode</_h3>
<div class="row">
 <ul class="ten columns">
  <li class="append field">
   <select class="wide input" id="selectedMode" data-bind="options: housemodeNames, value: housemode"></select>
   <div class="medium primary btn"><_a href="#" data-translateable="true" data-bind="click: changeHouseMode">Change housemode</_a></div>
  </li>
 </ul>
</div>

<_p id="emptyZone" style="display:none">Please enter a zone name.</_p>
<_p id="emptyMode" style="display:none">Please enter a housemode name.</_p>
<_p id="modeFirst" style="display:none">You must create a housemode before you can add any zones.</_p>

</div>